#logostrip {
    display: none !important;
}

#userlinks {
	margin-top: 10px;
}

#ipbwrapper > noindex {
	display: none !important;
}

#ipbwrapper #ipbwrapper {
    display: none;
}

body > #ipbwrapper > table:nth-of-type(1){
	display: none;
}

td#navstrip + td, td#navstrip + td + td {
	display: none;
}

.hide_message {
    color: silver;
}

tr.ignored_theme {
    display: none;
    /* opacity: 0.1;*/
}

#new_favorites_button.have_new {
    color: red;
}

body > #ipbwrapper > table#userlinks+table+br+div>a>img{
	display: none;
}

.cs-button {
    float: right;
    color: white !important;
    font-size: 90%;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none !important;
    white-space: nowrap;
    cursor: pointer;
}

.cs-button:hover {
    background-color: #FE7A15
}

.new-topic-button {
    background-color: #69C;
}

.new-poll-button {
    background-color: #9C6;
}
