/* no logo */
#logostrip {
    display: none !important;
}

/* no logo */
body > #ipbwrapper > table:nth-of-type(1){
    display: none;
}

/* no neighbor links. useles if previous works */
.b-neighbor-links-wrapper {
    display: none;
}

/* no empty lines */
#ibwrapper > br {
  display: none;
}

/* no news */
#QuickLinks {
    display: none;
}

/* no stats */
.board-stats {
    display: none;
}

/* no top menu */
#top-menu {
    display: none;
}
/* no "top-smth" links */
.stats-links {
    display: none;
}

/* make rules hidden by default */
.rules-wrapper {
    display: none;
}

/* no copyrights */
#ipbwrapper > noindex {
	display: none !important;
}

/* no banners and donate */
td.b-donate-wrapper, td.b-top-nav-banner-wrapper,
td#navstrip + td, td#navstrip + td + td {
    display: none;
}

/* ??? */
body > #ipbwrapper > table#userlinks+table+br+div>a>img{
    display: none;
}

.hide_message {
    color: silver;
}

tr.ignored_topic {
    display: none;
    /* opacity: 0.1; */
}

#new_favorites_button.have_new {
    color: red;
}

/* оторвём уже верхнее меню от края страницы */
#userlinks {
    margin-top: 10px;
}

.cs-button {
    float: right;
    color: white !important;
    font-size: 90%;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none !important;
    white-space: nowrap;
    cursor: pointer;
}

.cs-button:hover {
    background-color: #FE7A15
}

.cs-new-topic-button {
    background-color: #69C;
}

.cs-new-poll-button {
    background-color: #9C6;
}

.show-topic-button,
.hide-topic-button {
    float: right;
    margin: 2px 2px 2px 0;
    cursor: pointer;
    white-space: nowrap;
    padding: 3px 4px;
    color: #9FBCE3;
}

a.show-topic-button:hover,
a.hide-topic-button:hover {
    text-decoration: none;
}
/* нормализуем размер слова "закрыто" */
#bottom-close-reason-wrapper span{
    font-size: 1em !important;
}
